{% extends 'base.html.twig' %}

{% block bodyheader %}
    <div class="header-content">
        <div class="container">
            <div class="ad-line">
            </div><!--/.ad-line-->
            <h1 class="page-title">{{ page.heading|shortCodes }} <span class="total">{{ totalnumber }}</span></h1>
        </div><!--/.wrap-->
    </div><!--/#content-header-->
{% endblock %}


{% block main %}

        {% if page.content|length>0 %}
            <div class="container text-holder">
                <a class="scroll-to-button scroll-to-link show-me" href="#button-link-1">
                    Show me the ND Bonuses!
                </a>
                <div class="page-content">{{ page.content|raw }}</div>
            </div>
        {% endif %}

        <div class="container">
            <div class="casino-list-wrapper {% if page.content|length == 0 %}padding-large{% endif %}">
                <span id="button-link-1"></span>
                <div class="d-md-flex justify-content-end">
                    <div class="spinner">
                        <div class="re filter-spinnerct1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>

                    <div class="filter-holder">
                        <span>Sort by</span>
                        <div class="dropdown d-inline">
                            <button class="dropdown-toggle dropdown-filter-btn" type="button" data-sorttype="highRating" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Highest Rating
                            </button>
                            <div id="bonuses_sort_value" data-country="{{ country.name }}" data-value="{{ page.value }}" data-maxValue="{{ page.upperValue }}" data-symbol="{{ page.symbol }}" data-type="{{ page.bonustype.name }}" class="dropdown-menu " aria-labelledby="dropdownFilter">
                                <a class="dropdown-item" href="#" data-sorttype="highRating" data-text="Highest Rating" onclick="return false;">Highest Rating</a>
                                <a class="dropdown-item" href="#" data-sorttype="lowRating" data-text="Lowest Rating" onclick="return false;">Lowest Rating</a>
                                <a class="dropdown-item" href="#" data-sorttype="nameAsc" data-text="A-Z" onclick="return false">A-Z</a>
                                <a class="dropdown-item" href="#" data-sorttype="nameDesc" data-text="Z-A" onclick="return false">Z-A</a>
                                <a class="dropdown-item" href="#" data-sorttype="highAmount" data-text="Highest Amount" onclick="return false">Highest Amount</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-data">
                    <div class="casinos-list">
                        {{ casinoslist|raw }}

                    </div>
                </div>

                <div class="list-data-bottom">
                    <div class="page-load">
                        <span class="current-no" id="current_casinos">{% if totalnumber<50 %}{{ totalnumber }}{% else %}50{% endif %}</span>/<span id="totalcasinos">{{ totalnumber }}</span>
                    </div>
                    <div id="bottom_spinner" class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
        </div>

    {% if page.belowcontent is not null %}
        <div class="text-holder container below-content">
            {{ page.belowcontent|raw }}
        </div>
    {% endif %}

    {{ render(controller(
        'App\\Controller\\TemplateController::joinContent'
    ))
    }}


    {{ render(controller(
        'App\\Controller\\TemplateController::sectionInterest',{'pageTags':page.tags}
    ))
    }}


{% endblock %}
