<!doctype html>
<!--[if IE 7]><html class="no-js ie ie7 ie8m" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 ie8m" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9" lang="en" ><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="en"><!--<![endif]-->

    {% block head %}
        <head>
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-PS2HV78');</script>
            <!-- End Google Tag Manager -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}{{ page.metatitle|default('No Deposit Casino')|shortCodes }}{% endblock %}</title>
            <meta name="description" content="{% block metaDescription %}{{ page.metadescription|default('No Deposit Casino')|shortCodes }}{% endblock %} "/>
            <meta property="og:title" content="{% block ogtitle %}{{ page.metatitle|default('No Deposit Casino')|shortCodes }}{% endblock %}" />
            {%if page is defined %}<meta property="og:description" content="{% block ogdescription %}{{ page.metadescription|shortCodes }}{% endblock %}" />{% endif %}
            <meta name="keywords" content="{% block metakeywords %}{{ page.metakeywords|default('No Deposit Casino')|shortCodes }}{% endblock %}"/>
            <meta property="og:url" content=" {{ app.request.uri  }}" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="https://nodepositcasino.org/public/img/ndc-logo.png" />
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <meta name="robots" content="{% block meta_follow %}all{% endblock %}" />
            <meta name="google-signin-client_id" content="{{ new_google_client_id }}">
            <link rel="canonical" href="{{ app.request.uri }}" />
            <link rel="icon" href="{{ asset('ndc_favicon.ico') }}" type="image/x-icon"/>
            <link rel="shortcut icon" href="{{ asset('ndc_favicon.ico') }}" type="image/x-icon"/>
            <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500|Roboto:400,500,700" rel="stylesheet">
            <!--[if lt IE 7]><link rel="stylesheet" href="{{ asset('css/ie-old.css') }}"><![endif]-->
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        </head>
    {% endblock %}

    <body class="{{ bodyclass|default('template-page') }}" >

    <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS2HV78" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=1945076775524520&autoLogAppEvents=1';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <div id="jqtoast-tr" class="freeow freeow-top-right"></div>
            <div id="jqtoast-br" class="freeow freeow-bottom-right"></div>
            <!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="//browsehappy.com/">Upgrade to a different browser</a> or <a href="//www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

            <div id="welcomeDiv" class="alertBox">
                <div class="welcomeDivBox">
                    <span class="alertLike"></span>
                    <span id='alert'></span>
                </div>
            </div>

            <div id="unlikeAlert" class="alertBox">
                <span class="alertUnlike"></span>
                <span id='alert2'></span>
            </div>


            <div class="header-holder {% if page.fullimagelink is defined and page.fullimagelink != null %}cover-image-header{% endif %}">
                {{ render(controller(
                    'App\\Controller\\TemplateController::header'
                    ))
                }}
                {% block bodyheader %}{% endblock %}
            </div><!--/.header-holder-->

            <div class="main-container"><!-- START MAIN CONTENT-->
                {% block main %}{% endblock %}
            </div><!-- END MAIN CONTENT-->


            {% block footer %}
                {%if page is defined %}
                    {{ render(controller(
                        'App\\Controller\\TemplateController::footer',
                            { 'page':page }
                        ))
                    }}
                {% endif %}
            {% endblock %}

            {% block commonjs %}
                <script src="{{ asset('js/ouibounce/ouibounce.min.js') }}"></script>
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <script src="{{ asset('build/app.js') }}"></script>
                <script src="{{ asset('js/google_sign_in.js') }}" async defer></script>

                <!--[if (gte IE 6)&(lte IE 8)]><script src="{{ asset('js/selectivizr.js') }}"></script><![endif]-->
                <script>
                    (function (d, t) {
                        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
                        bh.type="text/javascript";
                        bh.src="//www.bugherd.com/sidebarv2.js?apikey=dsqpjvcppyf4uqahqbcdja";
                        s.parentNode.insertBefore(bh, s);
                    })(document, "script");
                </script>

                <script type="application/ld+json">
                {
                  "@context": "http://schema.org/",
                  "@type": "Organization",
                  "name": "No Deposit Casino",
                  "url": "https://nodepositcasino.org/",
                  "logo": "https://nodepositcasino.org/img/logo.png"
                }
                </script>
            {% endblock %}

            {% block mainSchemaParameters %}
                <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "WebPage",
                    "name": "{{ page.metatitle|default('No Deposit Casino')|shortCodes }}",
                    "description": "{{ page.metadescription|default('No Deposit Casino')|shortCodes }}",
                    "publisher": {
                        "@type": "Organization",
                        "name": "No Deposit Casino"
                    }
                }
                </script>
            {% endblock %}

            {% if(page.navigation is defined and page.navigation|length > 0) %}
                <script>
                    $(document).ready(function() {
                        $("[data-page={{ page.navigation }}]").addClass("active");
                    });
                </script>
            {% endif %}

            {% block javascripts %}
            {% endblock %}

        </body>
</html>



