{% for activity in liveactivities %}
    {% if activity.type.name=='Casino Post' %}
        <div  class='latest-activities-item'>
            <div class='latest-activities-logo'>
                <a href='{{ path('casino-review',{id:activity.postToCasino.id,casinoname:activity.postToCasino.slug}) }}'>
                    <img src='{{ activity.postToCasino.logo50 }}' alt='{{ activity.postToCasino.casinoname }}' width="50" height="50">
                </a>
            </div>
            <div class='latest-activities-content'>
                <p class="activity">{{ activity.postText }}</p>
                <div class='latest-activities-name'>
                    <a href='{{ path('user',{id:activity.userAdded.id,username:activity.userAdded.username}) }}'>
                        <img width='30' height='30' src='{{ activity.userAdded.imagelocation }}' alt=''/>
                        <div class="float-left">
                            {{ activity.userAdded.username }}<br/>
                            <span class="box-comments-date">{{ activity.timeadded|date("M d,y h:s") }}</span>
                        </div>
                    </a>
                    <span class="comments-no"><span class="icon"></span></span>
                </div>
            </div>
        </div>
    {% elseif activity.type.name=='Casino Like' %}
        <div  class='latest-activities-item'>
            <div class='latest-activities-logo'>
                <a href='{{ path('casino-review',{id:activity.casinoLiked.id,casinoname:activity.casinoLiked.slug}) }}'>
                    <img src='{{ activity.casinoLiked.logo50 }}' alt='{{ activity.casinoLiked.casinoname }}' width="50" height="50">
                </a>
            </div>
            <div class='latest-activities-content'>
                <p class="activity">
                    <a href='{{ path('user',{id:activity.userAdded.id,username:activity.userAdded.username}) }}'>
                        {{ activity.userAdded.username }}
                    </a> liked
                    <a href='{{ path('casino-review',{id:activity.casinoLiked.id,casinoname:activity.casinoLiked.slug}) }}'>
                        {{ activity.casinoLiked.casinoname }}
                    </a>
                </p>
                <div class='latest-activities-name'>
                    <a href='{{ path('user',{id:activity.userAdded.id,username:activity.userAdded.username}) }}'>
                        <img height='30' width='30' src='{{ activity.userAdded.imagelocation }}' alt='{{ activity.userAdded.username }}'/>
                        <div class="float-left">
                            {{ activity.userAdded.username }}<br/>
                            <span class="box-comments-date">{{ activity.timeadded|date('M d,y h:s') }}</span>
                        </div>
                    </a>
                    <span class="likes-no"><span class="icon"></span></span>
                </div>
            </div>
        </div>
    {% elseif activity.type.name=='Bonus Like' %}
        <div  class='latest-activities-item'>
            <div class='latest-activities-logo'>
                <a href='{{ path('casino-review',{id:activity.likedBonus.casino.id,casinoname:activity.likedBonus.casino.slug}) }}'>
                    <img src='{{ activity.likedBonus.casino.logo50 }}' alt='{{ activity.likedBonus.casino.casinoname }}' width="50" height="50">
                </a>
            </div>
            <div class='latest-activities-content'>
                <p class="activity">
                    <a href='{{ path('user',{id:activity.userAdded.id,username:activity.userAdded.username}) }}'>
                        {{ activity.userAdded.username }}
                    </a> liked
                    <a href='{{ path('casino-review',{id:activity.likedBonus.casino.id,casinoname:activity.likedBonus.casino.slug}) }}'>
                        {{ activity.likedBonus.casino.casinoname }}
                    </a>
                </p>
                <div class='latest-activities-name'>
                    <a href='{{ path('user',{id:activity.userAdded.id,username:activity.userAdded.username}) }}'>
                        <img height='30' width='30' src='{{ activity.userAdded.imagelocation }}' alt='{{ activity.userAdded.username }}'/>
                        <div class="float-left">
                            {{ activity.userAdded.username }}<br/>
                            <span class="box-comments-date">{{ activity.timeadded|date('M d,y h:s') }}</span>
                        </div>
                    </a>
                    <span class="likes-no"><span class="icon"></span></span>
                </div>
            </div>
        </div>
    {% endif %}

{% endfor %}
























